In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('funda_rawdataset_20240517.csv')

In [3]:
df = df.drop_duplicates()
df = df.drop(columns={'size', 'city', 'last_ask_price', 'insulation', 'heating', 'num_of_bathrooms'})
df = df.rename(columns={'ownership':'outside_space', 'building_type':'newbuild'})

# clean the price data
df['price'] = df['price'].str.replace('€ ', '')
df['price'] = df['price'].str.replace(' /mnd', '')
df['price'] = df['price'].str.replace('k', '')
df['price'] = df['price'].str.replace('na', '0')
df['price'] = df['price'].str.replace('Huurprijs op aanvraag', '0')
df['price'] = df['price'].str.replace('.', '')

# dropping all listings with price = 0 as it can't be correct.
# drop the listings with price of more than 12500. Those listings are properties that are for sale and not for rent. They have been wrongly categorized.
# drop the listings with price < 500 as these are storage rooms or parking garages
df = df.drop(df[df['price'] == '0'].index)
df = df.drop(df[pd.to_numeric(df['price']) > 12500].index)
df = df.drop(df[pd.to_numeric(df['price']) < 500].index)


# clean zip_code into 'XXXX XX'
df['zip_code'] = df['zip_code'].str[:7]
df['zip_code'] = df['zip_code'].str.replace(' ','')


# drop garage listings
df = df.drop(df[df['kind_of_house'] == 'Garage'].index)
df = df.drop(df[df['kind_of_house'] == 'Inpandige garage'].index)
df = df.drop(df[df['kind_of_house'] == 'parkeerkelder'].index)
df = df.drop(df[df['kind_of_house'] == 'Parkeerplaats'].index)

# clean the year. We changed 'Voor XXXX', 'Na XXXX' and 'XXXX-YYYY' to 'XXXX'
df['year'] = df['year'].str.replace('Voor ', '')
df['year'] = df['year'].str.replace('Na ', '')
df['year'] = df['year'].str[:4]

# impute missing data with NaN
def check_year_validity(label):
    if 0 < label < 2025:
        return label
    else:
        return np.nan

df['year'] = df['year'].astype(int).apply(check_year_validity)

def check_living_area_validity(label):
    if label != 'na':
        return label
    else:
        return np.nan

# clean living_area data
df['living_area'] = df['living_area'].str.replace(' m²', '')
df['living_area'] = df['living_area'].astype(str).apply(check_living_area_validity)

df.describe()

              year
count   887.000000
mean   1959.910936
std      91.418085
min    1005.000000
25%    1906.000000
50%    1998.000000
75%    2024.000000
max    2024.000000

In [4]:
# extract number of rooms in total
df['num_of_rooms'] = df['layout'].str.extract(r'Aantal kamers(\d+)')
# extract the number of bathrooms
df['num_of_bedrooms'] = df['layout'].str.extract(r'(\d+) slaapkamer')
# extract the number of bedrooms
df['num_of_bathrooms'] = df['layout'].str.extract(r'(\d+) badkamer')
# extract the number of seperate toilets
df['num_of_separate_toilets'] = df['layout'].str.extract(r'(\d+) apart')
# extract the floor number of house
df['floor_of_house'] = df['layout'].str.extract(r'Gelegen op(\w+)')
df['floor_of_house'] = df['floor_of_house'].str.replace('e', '')

df = df.drop(columns={'layout'})

# dummy coding the parking variable. 1 is parkinggarage is available. 0 is parkinggarage is not available
df['parking'] = df['parking'].apply(lambda x: 1 if 'Soort parkeergelegenheid' in x else 0)

# dummy code newbuild variable. 1 if property is newly built. 0 is it is an existing property
df['newbuild'] = df['newbuild'].apply(lambda x: 1 if 'Nieuwbouw' in x else 0)

#change year to age of building
df['year'] = df['year'].astype(int)
df['year'] = 2024 - df['year']
df = df.rename(columns={'year':'age'})

# Turn the energy labels into ordinal values with NaN if value is missing
def check_energy_label(label):
    if 'A++++' in label:
        return 8
    elif 'A+++' in label:
        return 7
    elif 'A++' in label:
        return 6
    elif 'A+' in label:
        return 5
    elif 'A' in label:
        return 4
    elif 'B' in label:
        return 3
    elif 'C' in label:
        return 2
    elif 'D' in label:
        return 1
    else:
        return np.nan

df['energy_label'] = df['energy_label'].astype(str).apply(check_energy_label)

# reduce the amount of categories of the houses into more general categories
def categorize_housing_type(housing_type):
    apartments_flats = [
        'Portiekflat', 'Portiekflat (appartement met open portiek)', 'Galerijflat',
        'Galerijflat (appartement)', 'Portiekflat (appartement)', 'Tussenverdieping',
        'Bovenwoning (appartement)', 'Portiekwoning (appartement)', 'Benedenwoning (appartement)',
        'Maisonnette', 'Tussenverdieping (appartement)', 'Bovenwoning (appartement met open portiek)',
        'Benedenwoning (souterrain)', 'Benedenwoning (souterrain met open portiek)', 'Dubbel benedenhuis',
        'Maisonnette (appartement)', 'Dubbel benedenhuis (appartement)', 'Bovenwoning (dubbel bovenhuis)',
        'Benedenwoning (appartement met open portiek)', 'Tussenverdieping (appartement met open portiek)',
        'Bovenwoning (open portiek)', 'Beneden + bovenwoning (appartement met open portiek)',
        'Tussenverdieping (open portiek)', 'Beneden + bovenwoning (bel-etage)', 'Benedenwoning (bel-etage)',
        'Penthouse (appartement)', 'Dubbel benedenhuis (bel-etage)', 'Dubbel benedenhuis (appartement met open portiek)',
        'Tussenverdieping (service flat)'
    ]
    single_family_homes = [
        'Eengezinswoning, tussenwoning', 'Eengezinswoning, tussenwoning (hofjeswoning)', 
        'Eengezinswoning, geschakelde woning', 'Eengezinswoning, hoekwoning', 
        'Eengezinswoning, tussenwoning (split-level woning)', 'Eengezinswoning, tussenwoning (drive-in woning)', 
        'Eengezinswoning, 2-onder-1-kapwoning'
    ]
    duplex_multi_level_homes = [
        'Beneden + bovenwoning', 'Benedenwoning (dubbel bovenhuis)', 'Maisonnette (dubbel bovenhuis)', 
        'Dubbel benedenhuis (dubbel bovenhuis met open portiek)', 'Bovenwoning (dubbel bovenhuis met open portiek)', 
        'Beneden + bovenwoning (appartement)'
    ]
    luxury_homes = [
        'Penthouse', 'Herenhuis, tussenwoning', 'Villa, halfvrijstaande woning (waterwoning)', 
        'Landhuis, 2-onder-1-kapwoning', 'Grachtenpand, tussenwoning'
    ]
    waterfront_homes = ['Woonboot, vrijstaande woning (waterwoning)']

    if housing_type in apartments_flats:
        return 'apartments/flats'
    elif housing_type in single_family_homes:
        return 'single-family homes'
    elif housing_type in duplex_multi_level_homes:
        return 'duplex/multi-level homes'
    elif housing_type in luxury_homes:
        return 'luxury homes'
    elif housing_type in waterfront_homes:
        return 'waterfront homes'
    else:
        return np.nan

df['kind_of_house'] = df['kind_of_house'].apply(categorize_housing_type)

# dummy code if garden is present
def categorize_garden(x):
    if 'tuin' in x or 'Tuin' in x:
        return 1
    elif 'meter' in x or 'Meter' in x:
        return 1
    elif 'Patio' in x or 'patio' in x:
        return 1
    elif 'zonneterras' in x or 'Zonneterras' in x:
        return 1
    else:
        return 0

df['garden'] = df['outside_space'].apply(categorize_garden)

# dummy code balcony is balcony is available in property
def categorize_balcony(x):
    if 'Balkon' in x:
        return 1
    elif 'balkon' in x:
        return 1
    else:
        return 0

df['balcony'] = df['outside_space'].apply(categorize_balcony)

# dummy code rooftop is a rooftop is available for the tenants
def categorize_rooftop(x):
    if 'Dakterras' in x:
        return 1
    else:
        return 0

df['roof_top'] = df['outside_space'].apply(categorize_rooftop)

In [5]:
# dummy code the kind_of_house variable and add it to the dataframe
dummies = pd.get_dummies(df['kind_of_house'], prefix='type_of_home', dtype='int')
df = pd.concat([df, dummies], axis=1)

# drop the original 'kind_of_house' column as it's no longer needed
df.drop('kind_of_house', axis=1, inplace=True)

In [6]:
# for some variables, parking was present but not correctly inputted in funda, so we corrected it here
df['parking'] = df.apply(lambda row: 1 if '1 auto' in row['outside_space'] else row['parking'], axis=1)
df = df.drop(columns={'outside_space'})

# we replace blank strings where data is missing with the NaN
df[['num_of_rooms', 'energy_label', 'num_of_bedrooms', 'num_of_bathrooms', 'num_of_separate_toilets', 'floor_of_house']] = df[['num_of_rooms', 'energy_label', 'num_of_bedrooms', 'num_of_bathrooms', 'num_of_separate_toilets', 'floor_of_house']].replace('', np.nan)

# the floor_of_house are all digits, except for the ground floor. Because we did some data cleaning before, ground floor is now represented by Bgan, so we replaced Bgan to 0 as it is the 0th floor.
df['floor_of_house'] = df['floor_of_house'].replace('Bgan', 0)
df.head(20)

,url,price,address,descrip,zip_code,age,living_area,newbuild,num_of_rooms,energy_label,...,num_of_separate_toilets,floor_of_house,garden,balcony,roof_top,type_of_home_apartments/flats,type_of_home_duplex/multi-level homes,type_of_home_luxury homes,type_of_home_single-family homes,type_of_home_waterfront homes
0,https://www.funda.nl/huur/amsterdam/appartemen...,1045,Schipluidenlaan 254,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,44,1,2,NaN,...,NaN,1,0,0,0,1,0,0,0,0
1,https://www.funda.nl/huur/amsterdam/appartemen...,1068,Krijn Taconiskade 299,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,NaN,3,0,0,0,1,0,0,0,0
2,https://www.funda.nl/huur/amsterdam/appartemen...,1099,Haarlemmerweg,** BINNENKORT IN VERHUUR | WesterparkWest f...,1014BL,0,50,1,2,NaN,...,NaN,NaN,0,0,0,1,0,0,0,0
3,https://www.funda.nl/huur/amsterdam/appartemen...,1103,Krijn Taconiskade 441,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,NaN,5,0,0,0,1,0,0,0,0
4,https://www.funda.nl/huur/amsterdam/appartemen...,1105,Willem Frogerstraat 41,Podium *VERHUUR GESTART* 147 middenhuur app...,1062HZ,0,56,1,2,NaN,...,NaN,1,0,0,0,1,0,0,0,0
5,https://www.funda.nl/huur/amsterdam/appartemen...,1115,Schipluidenlaan 270,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,50,1,2,NaN,...,NaN,1,0,0,0,1,0,0,0,0
6,https://www.funda.nl/huur/amsterdam/appartemen...,1120,Staalmeesterslaan 377,"Via de website van Makelaardij Hoekstra, hu...",1057PG,53,58,0,2,5.0,...,NaN,13,0,0,0,1,0,0,0,0
7,https://www.funda.nl/huur/amsterdam/appartemen...,1120,Staalmeesterslaan 380,"Via de website van Makelaardij Hoekstra, hu...",1057PG,53,58,0,2,5.0,...,NaN,14,0,0,0,1,0,0,0,0
8,https://www.funda.nl/huur/amsterdam/appartemen...,1130,Olga de Haasstraat 513,Living the high life! *VERHUUR GESTART* Sch...,1095PG,0,58,1,2,NaN,...,NaN,28,0,0,0,1,0,0,0,0
9,https://www.funda.nl/huur/amsterdam/appartemen...,1135,Willem Frogerstraat 53,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HZ,0,80,1,4,NaN,...,NaN,1,0,0,0,1,0,0,0,0
10,https://www.funda.nl/huur/amsterdam/appartemen...,1170,Bert Haanstrakade 678,*** See English version below *** Op één ...,1087HJ,14,56,0,2,4.0,...,NaN,1,0,0,0,1,0,0,0,0
11,https://www.funda.nl/huur/amsterdam/appartemen...,1175,Kraanspoor,** NU IN VERHUUR | NAUTISCH NDSM AMSTERDAM-...,1033SE,1,55,1,2,NaN,...,NaN,NaN,0,0,0,1,0,0,0,0
12,https://www.funda.nl/huur/amsterdam/appartemen...,1175,Schipluidenlaan 256,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,63,1,3,NaN,...,NaN,1,0,0,0,1,0,0,0,0
13,https://www.funda.nl/huur/amsterdam/appartemen...,1180,Willem Frogerstraat 139,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HZ,0,71,1,3,NaN,...,NaN,1,0,0,0,1,0,0,0,0
14,https://www.funda.nl/huur/amsterdam/appartemen...,1180,Olga de Haasstraat 625,Living the high life! *LAATSTE WONINGEN BES...,1095PG,0,58,1,2,NaN,...,NaN,4,0,0,0,1,0,0,0,0
15,https://www.funda.nl/huur/amsterdam/appartemen...,1200,Olga de Haasstraat 535,Living the high life! *NOG ENKEL WONINGEN B...,1095PG,0,48,1,2,NaN,...,NaN,30,0,0,0,1,0,0,0,0
16,https://www.funda.nl/huur/amsterdam/appartemen...,1200,Zeeburgerkade 1294,*** See English version below *** Een pra...,1019VK,5,59,0,2,4.0,...,NaN,1,0,0,0,1,0,0,0,0
17,https://www.funda.nl/huur/amsterdam/appartemen...,1240,Schipluidenlaan 236,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,80,1,3,NaN,...,NaN,1,0,0,0,1,0,0,0,0
18,https://www.funda.nl/huur/amsterdam/appartemen...,1275,Arent Janszoon Ernststraat 1063,U HEEFT EEN OBJECTCODE NODIG ALS U ONS BEL...,1081HL,15,82,0,3,NaN,...,NaN,NaN,0,0,0,1,0,0,0,0
19,https://www.funda.nl/huur/amsterdam/appartemen...,1300,Dr. J.A. Ringersstraat 28,U HEEFT EEN OBJECTCODE NODIG ALS U ONS BEL...,1067DG,14,92,0,3,NaN,...,NaN,NaN,0,0,0,1,0,0,0,0

In [7]:
#change variable names into something more readable

df = df.rename(columns={'price':'rent','address':'street', 'descrip':'desc', 'zip_code':'pc6', 'living_area':'sqmtr', 'num_of_rooms':'rooms', 'energy_label':'elabel','num_of_bedrooms':'bedrooms', 'num_of_bathrooms':'bathrooms', 'num_of_separate_toilets':'toilets', 'floor_of_house':'floor', 'roof_top':'rooftop', 'type_of_home_apartments/flats':'apartment', 'type_of_home_duplex/multi-level homes':'duplexmulti', 'type_of_home_luxury homes':'luxury', 'type_of_home_single-family homes':'singlefam', 'type_of_home_waterfront homes':'houseboat'})

In [8]:
df.columns

Index(['url', 'rent', 'street', 'desc', 'pc6', 'age', 'sqmtr', 'newbuild',
       'rooms', 'elabel', 'parking', 'bedrooms', 'bathrooms', 'toilets',
       'floor', 'garden', 'balcony', 'rooftop', 'apartment', 'duplexmulti',
       'luxury', 'singlefam', 'houseboat'],
      dtype='object')

In [9]:
#importing the cleaned dataset and making a separate column for the pc4 to be able to merge the pc4 dataset with the funda dataset
df['pc4'] = df['pc6'].str[:4]
df['pc4'] = df['pc4'].astype(int)

#import the pc4 dataset and rename the column to have a common column name between the datasets
df_cbs = pd.read_csv('cbs_rawdataset_pc4.csv')
df_cbs = df_cbs.rename(columns={'Postcode-4':'pc4'})

#merge the two datasets
df_merged = pd.merge(df, df_cbs, on='pc4')
df_merged.head(20)

,url,rent,street,desc,pc6,age,sqmtr,newbuild,rooms,elabel,...,houseboat,pc4,Inwoners Totaal (x1),Geboren in Nederland met een Nederlandse herkomst (%),Huishouden Totaal (x1),Huishoudgrootte (x1),Woning Totaal (x1),Eigendom Koopwoning (%),WOZ-waarde\nwoning (x 1 000 Euro),Omgevingsadressendichtheid (adressen/km2)
0,https://www.funda.nl/huur/amsterdam/appartemen...,1045,Schipluidenlaan 254,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,44,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
1,https://www.funda.nl/huur/amsterdam/appartemen...,1068,Krijn Taconiskade 299,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
2,https://www.funda.nl/huur/amsterdam/appartemen...,1099,Haarlemmerweg,** BINNENKORT IN VERHUUR | WesterparkWest f...,1014BL,0,50,1,2,NaN,...,0,1014,3660,60,1705,2.1,1745,50,731,3309
3,https://www.funda.nl/huur/amsterdam/appartemen...,1103,Krijn Taconiskade 441,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
4,https://www.funda.nl/huur/amsterdam/appartemen...,1105,Willem Frogerstraat 41,Podium *VERHUUR GESTART* 147 middenhuur app...,1062HZ,0,56,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
5,https://www.funda.nl/huur/amsterdam/appartemen...,1115,Schipluidenlaan 270,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,50,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
6,https://www.funda.nl/huur/amsterdam/appartemen...,1120,Staalmeesterslaan 377,"Via de website van Makelaardij Hoekstra, hu...",1057PG,53,58,0,2,5.0,...,0,1057,17345,40,10005,1.7,9165,20,397,10790
7,https://www.funda.nl/huur/amsterdam/appartemen...,1120,Staalmeesterslaan 380,"Via de website van Makelaardij Hoekstra, hu...",1057PG,53,58,0,2,5.0,...,0,1057,17345,40,10005,1.7,9165,20,397,10790
8,https://www.funda.nl/huur/amsterdam/appartemen...,1130,Olga de Haasstraat 513,Living the high life! *VERHUUR GESTART* Sch...,1095PG,0,58,1,2,NaN,...,0,1095,15010,40,8375,1.8,8155,20,375,4572
9,https://www.funda.nl/huur/amsterdam/appartemen...,1135,Willem Frogerstraat 53,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HZ,0,80,1,4,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
10,https://www.funda.nl/huur/amsterdam/appartemen...,1170,Bert Haanstrakade 678,*** See English version below *** Op één ...,1087HJ,14,56,0,2,4.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
11,https://www.funda.nl/huur/amsterdam/appartemen...,1175,Kraanspoor,** NU IN VERHUUR | NAUTISCH NDSM AMSTERDAM-...,1033SE,1,55,1,2,NaN,...,0,1033,13220,60,7375,1.8,7270,20,298,2211
12,https://www.funda.nl/huur/amsterdam/appartemen...,1175,Schipluidenlaan 256,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,63,1,3,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
13,https://www.funda.nl/huur/amsterdam/appartemen...,1180,Willem Frogerstraat 139,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HZ,0,71,1,3,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
14,https://www.funda.nl/huur/amsterdam/appartemen...,1180,Olga de Haasstraat 625,Living the high life! *LAATSTE WONINGEN BES...,1095PG,0,58,1,2,NaN,...,0,1095,15010,40,8375,1.8,8155,20,375,4572
15,https://www.funda.nl/huur/amsterdam/appartemen...,1200,Olga de Haasstraat 535,Living the high life! *NOG ENKEL WONINGEN B...,1095PG,0,48,1,2,NaN,...,0,1095,15010,40,8375,1.8,8155,20,375,4572
16,https://www.funda.nl/huur/amsterdam/appartemen...,1200,Zeeburgerkade 1294,*** See English version below *** Een pra...,1019VK,5,59,0,2,4.0,...,0,1019,19840,60,10355,1.9,9800,40,531,4354
17,https://www.funda.nl/huur/amsterdam/appartemen...,1240,Schipluidenlaan 236,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,80,1,3,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
18,https://www.funda.nl/huur/amsterdam/appartemen...,1275,Arent Janszoon Ernststraat 1063,U HEEFT EEN OBJECTCODE NODIG ALS U ONS BEL...,1081HL,15,82,0,3,NaN,...,0,1081,5330,50,2980,1.8,2900,40,548,2658
19,https://www.funda.nl/huur/amsterdam/appartemen...,1300,Dr. J.A. Ringersstraat 28,U HEEFT EEN OBJECTCODE NODIG ALS U ONS BEL...,1067DG,14,92,0,3,NaN,...,0,1067,20120,20,8395,2.3,7565,30,349,2708

In [10]:
df_merged = pd.merge(df, df_cbs, on='pc4')
df_merged.head(20)

,url,rent,street,desc,pc6,age,sqmtr,newbuild,rooms,elabel,...,houseboat,pc4,Inwoners Totaal (x1),Geboren in Nederland met een Nederlandse herkomst (%),Huishouden Totaal (x1),Huishoudgrootte (x1),Woning Totaal (x1),Eigendom Koopwoning (%),WOZ-waarde\nwoning (x 1 000 Euro),Omgevingsadressendichtheid (adressen/km2)
0,https://www.funda.nl/huur/amsterdam/appartemen...,1045,Schipluidenlaan 254,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,44,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
1,https://www.funda.nl/huur/amsterdam/appartemen...,1068,Krijn Taconiskade 299,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
2,https://www.funda.nl/huur/amsterdam/appartemen...,1099,Haarlemmerweg,** BINNENKORT IN VERHUUR | WesterparkWest f...,1014BL,0,50,1,2,NaN,...,0,1014,3660,60,1705,2.1,1745,50,731,3309
3,https://www.funda.nl/huur/amsterdam/appartemen...,1103,Krijn Taconiskade 441,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
4,https://www.funda.nl/huur/amsterdam/appartemen...,1105,Willem Frogerstraat 41,Podium *VERHUUR GESTART* 147 middenhuur app...,1062HZ,0,56,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
5,https://www.funda.nl/huur/amsterdam/appartemen...,1115,Schipluidenlaan 270,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,50,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
6,https://www.funda.nl/huur/amsterdam/appartemen...,1120,Staalmeesterslaan 377,"Via de website van Makelaardij Hoekstra, hu...",1057PG,53,58,0,2,5.0,...,0,1057,17345,40,10005,1.7,9165,20,397,10790
7,https://www.funda.nl/huur/amsterdam/appartemen...,1120,Staalmeesterslaan 380,"Via de website van Makelaardij Hoekstra, hu...",1057PG,53,58,0,2,5.0,...,0,1057,17345,40,10005,1.7,9165,20,397,10790
8,https://www.funda.nl/huur/amsterdam/appartemen...,1130,Olga de Haasstraat 513,Living the high life! *VERHUUR GESTART* Sch...,1095PG,0,58,1,2,NaN,...,0,1095,15010,40,8375,1.8,8155,20,375,4572
9,https://www.funda.nl/huur/amsterdam/appartemen...,1135,Willem Frogerstraat 53,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HZ,0,80,1,4,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
10,https://www.funda.nl/huur/amsterdam/appartemen...,1170,Bert Haanstrakade 678,*** See English version below *** Op één ...,1087HJ,14,56,0,2,4.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
11,https://www.funda.nl/huur/amsterdam/appartemen...,1175,Kraanspoor,** NU IN VERHUUR | NAUTISCH NDSM AMSTERDAM-...,1033SE,1,55,1,2,NaN,...,0,1033,13220,60,7375,1.8,7270,20,298,2211
12,https://www.funda.nl/huur/amsterdam/appartemen...,1175,Schipluidenlaan 256,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,63,1,3,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
13,https://www.funda.nl/huur/amsterdam/appartemen...,1180,Willem Frogerstraat 139,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HZ,0,71,1,3,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
14,https://www.funda.nl/huur/amsterdam/appartemen...,1180,Olga de Haasstraat 625,Living the high life! *LAATSTE WONINGEN BES...,1095PG,0,58,1,2,NaN,...,0,1095,15010,40,8375,1.8,8155,20,375,4572
15,https://www.funda.nl/huur/amsterdam/appartemen...,1200,Olga de Haasstraat 535,Living the high life! *NOG ENKEL WONINGEN B...,1095PG,0,48,1,2,NaN,...,0,1095,15010,40,8375,1.8,8155,20,375,4572
16,https://www.funda.nl/huur/amsterdam/appartemen...,1200,Zeeburgerkade 1294,*** See English version below *** Een pra...,1019VK,5,59,0,2,4.0,...,0,1019,19840,60,10355,1.9,9800,40,531,4354
17,https://www.funda.nl/huur/amsterdam/appartemen...,1240,Schipluidenlaan 236,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,80,1,3,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
18,https://www.funda.nl/huur/amsterdam/appartemen...,1275,Arent Janszoon Ernststraat 1063,U HEEFT EEN OBJECTCODE NODIG ALS U ONS BEL...,1081HL,15,82,0,3,NaN,...,0,1081,5330,50,2980,1.8,2900,40,548,2658
19,https://www.funda.nl/huur/amsterdam/appartemen...,1300,Dr. J.A. Ringersstraat 28,U HEEFT EEN OBJECTCODE NODIG ALS U ONS BEL...,1067DG,14,92,0,3,NaN,...,0,1067,20120,20,8395,2.3,7565,30,349,2708

In [12]:
df = df_merged
df.head()

,url,rent,street,desc,pc6,age,sqmtr,newbuild,rooms,elabel,...,houseboat,pc4,Inwoners Totaal (x1),Geboren in Nederland met een Nederlandse herkomst (%),Huishouden Totaal (x1),Huishoudgrootte (x1),Woning Totaal (x1),Eigendom Koopwoning (%),WOZ-waarde\nwoning (x 1 000 Euro),Omgevingsadressendichtheid (adressen/km2)
0,https://www.funda.nl/huur/amsterdam/appartemen...,1045,Schipluidenlaan 254,Podium * VERHUUR GESTART * 147 middenhuur ...,1062HE,0,44,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646
1,https://www.funda.nl/huur/amsterdam/appartemen...,1068,Krijn Taconiskade 299,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
2,https://www.funda.nl/huur/amsterdam/appartemen...,1099,Haarlemmerweg,** BINNENKORT IN VERHUUR | WesterparkWest f...,1014BL,0,50,1,2,NaN,...,0,1014,3660,60,1705,2.1,1745,50,731,3309
3,https://www.funda.nl/huur/amsterdam/appartemen...,1103,Krijn Taconiskade 441,*** See English version below *** Huren D...,1087HW,2,44,1,1,6.0,...,0,1087,19860,40,8040,2.5,7840,50,536,1805
4,https://www.funda.nl/huur/amsterdam/appartemen...,1105,Willem Frogerstraat 41,Podium *VERHUUR GESTART* 147 middenhuur app...,1062HZ,0,56,1,2,NaN,...,0,1062,14250,30,8805,1.6,8275,10,293,5646

In [1]:
#I'll extract the coordinates of the addresses

import googlemaps
import json

df['full address'] = df['street'] + " " + df['pc6']

gmaps = googlemaps.Client(key='AIzaSyBvJFN53P1aS2hqnTh46liJnWAfACuIG-c')

def get_lat_long(address):
    try:
        geocode_result = gmaps.geocode(address)
        location = geocode_result[0]['geometry']['location']
        return location['lat'], location['lng']
    except Exception as e:
        return None, None

df['latitude'], df['longitude'] = zip(*df['full address'].apply(get_lat_long))

NameError: name 'df' is not defined

In [14]:
df.to_csv('rentprediction_dataset_v1.csv', index=False)

The above uses the Google API and takes time to load. All the data processing in the above does not have to be done everytime. You can just import the 'rentprediction_dataset_v1.csv' document.

In [2]:
import pandas as pd
df = pd.read_csv('rentprediction_dataset_v1.csv')

In [3]:
df = df.drop(columns={'Inwoners Totaal (x1)', 'Huishouden Totaal (x1)', 'Woning Totaal (x1)'})

In [3]:
df.columns

Index(['url', 'rent', 'street', 'desc', 'pc6', 'age', 'sqmtr', 'newbuild',
       'rooms', 'elabel', 'parking', 'bedrooms', 'bathrooms', 'toilets',
       'floor', 'garden', 'balcony', 'rooftop', 'apartment', 'duplexmulti',
       'luxury', 'singlefam', 'houseboat', 'pc4',
       'Geboren in Nederland met een Nederlandse herkomst (%)',
       'Huishoudgrootte (x1)', 'Eigendom Koopwoning (%)',
       'WOZ-waarde\nwoning (x 1 000 Euro)',
       'Omgevingsadressendichtheid (adressen/km2)', 'full address', 'latitude',
       'longitude'],
      dtype='object')

In [4]:
df = df.rename(columns={'Geboren in Nederland met een Nederlandse herkomst (%)':'percnative_pc4', 'Huishoudgrootte (x1)':'sizehoudehold_pc4', 'Eigendom Koopwoning (%)':'percpropertyown_pc4',"WOZ-waarde\nwoning (x 1 000 Euro)":'taxablepropertyvaluation', 'Omgevingsadressendichtheid (adressen/km2)':'populationdensity_pc4'})

In [5]:
df['percnative_pc4'] = df['percnative_pc4'].apply(lambda x: x*0.01)
df['percpropertyown_pc4'] = df['percpropertyown_pc4'].apply(lambda x: x*0.01)
df['taxablepropertyvaluation'] = df['taxablepropertyvaluation'].apply(lambda x: x*1000)

In [6]:

import requests
import time

def count_amenities(api_key, latitude, longitude, radius, amenity):
    endpoint_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    params = {
        'location': f'{latitude},{longitude}',
        'radius': radius,
        'type': amenity,
        'key': api_key
    }
    
    total_amenities = 0
    while True:
        response = requests.get(endpoint_url, params=params)
        
        if response.status_code == 200:
            results = response.json()
            amenity_list = results.get('results', [])
            total_amenities += len(amenity_list)
            
            next_page_token = results.get('next_page_token')
            if next_page_token:
                params['pagetoken'] = next_page_token
                time.sleep(2)
            else:
                break
        else:
            print(f"-1")
            break
    
    return total_amenities

api_key = 'AIzaSyBvJFN53P1aS2hqnTh46liJnWAfACuIG-c'

amenities = ['cafe', 'restaurant', 'bar', 'supermarket', 'bakery', 'primary_school', 'high_school', 'bus_station', 'light_rail_station', 'train_station', 'subway_station', 'transit_station', 'park']
distances = [100, 1000]

for amenity in amenities:
    for distance in distances:
        df[f'{amenity}{distance}m'] = -1

for amenity in amenities:
    for distance in distances:
        df.to_csv('rentprediction_dataset_v2.csv', index=False)
        for index, row in df.iterrows():
            column_name = f'{amenity}{distance}m'
            df.at[index, column_name] = count_amenities(api_key, row['latitude'], row['longitude'], distance, amenity)

KeyboardInterrupt:

In [7]:
import requests
import time
import pandas as pd
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371e3
    phi1 = math.radians(lat1)
    phi2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)
    
    a = math.sin(delta_phi / 2) ** 2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    return R * c

def get_travel_time(api_key, origin, destination, mode):
    endpoint_url = "https://maps.googleapis.com/maps/api/distancematrix/json"
    
    params = {
        'origins': origin,
        'destinations': destination,
        'mode': mode,
        'key': api_key
    }
    
    response = requests.get(endpoint_url, params=params)
    if response.status_code == 200:
        result = response.json()
        if result['rows'][0]['elements'][0]['status'] == 'OK':
            distance = result['rows'][0]['elements'][0]['distance']['value']
            duration = result['rows'][0]['elements'][0]['duration']['value']
            return distance, duration
    return None, None

def find_closest_amenity(api_key, latitude, longitude, amenity):
    endpoint_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    params = {
        'location': f'{latitude},{longitude}',
        'rankby': 'distance',
        'type': amenity,
        'key': api_key
    }
    
    response = requests.get(endpoint_url, params=params)
    closest_amenity = None
    min_distance = float('inf')
    min_walking_time = float('inf')
    min_cycling_time = float('inf')
    min_driving_time = float('inf')
    
    if response.status_code == 200:
        results = response.json().get('results', [])
        if results:
            closest_amenity = results[0]
            amenity_lat = closest_amenity['geometry']['location']['lat']
            amenity_lon = closest_amenity['geometry']['location']['lng']
            min_distance = haversine_distance(latitude, longitude, amenity_lat, amenity_lon)
            
            origin = f'{latitude},{longitude}'
            destination = f'{amenity_lat},{amenity_lon}'
            
            _, walking_time = get_travel_time(api_key, origin, destination, 'walking')
            _, cycling_time = get_travel_time(api_key, origin, destination, 'bicycling')
            _, driving_time = get_travel_time(api_key, origin, destination, 'driving')
            
            if walking_time is not None:
                min_walking_time = round(walking_time / 60, 1)
            if cycling_time is not None:
                min_cycling_time = round(cycling_time / 60, 1)
            if driving_time is not None:
                min_driving_time = round(driving_time / 60, 1)
    
    return min_distance, min_walking_time, min_cycling_time, min_driving_time

api_key = 'AIzaSyBvJFN53P1aS2hqnTh46liJnWAfACuIG-c'

amenities = ['cafe', 'restaurant', 'bar', 'supermarket', 'bakery', 'primary_school', 'high_school', 'bus_station', 'light_rail_station', 'train_station', 'subway_station', 'transit_station', 'park']

for amenity in amenities:
    df[f'{amenity}_euclidean_distance'] = -1
    df[f'{amenity}_walking_time'] = -1
    df[f'{amenity}_cycling_time'] = -1
    df[f'{amenity}_driving_time'] = -1

for index, row in df.iterrows():
    for amenity in amenities:
        min_distance, min_walking_time, min_cycling_time, min_driving_time = find_closest_amenity(api_key, row['latitude'], row['longitude'], amenity)
        df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
        df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
        df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
        df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)

/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '160.12' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.3' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '32.87' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '8.3' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.3' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '241.63' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '320.77' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.3' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '332.06' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9.3' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '15.12' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '595.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '273.96' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '273.96' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '189.53' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)
/tmp/ipykernel_1054/4039876734.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_driving_time'] = float(min_driving_time)
/tmp/ipykernel_1054/4039876734.py:91: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '511.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_euclidean_distance'] = round(float(min_distance), 2)
/tmp/ipykernel_1054/4039876734.py:92: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_walking_time'] = float(min_walking_time)
/tmp/ipykernel_1054/4039876734.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.3' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, f'{amenity}_cycling_time'] = float(min_cycling_time)

In [6]:
df.to_csv('rentprediction_dataset_v2.csv', index=False)